.mh-wsp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: -webkit-max-content;
    width: intrinsic;
    width: -moz-available;
    width: max-content;
    width: auto;    
    padding: 8px 16px;
    line-height: 18px;
    gap: 16px;
    background-color: #25d366;
    border-radius: 50px;
    box-shadow: 2px 2px 3px #999 !important;
}

.mh-wsp.mh-wsp-float-bottom-right {
    position: fixed;
    z-index: 9999;
    bottom: 16px;
    right: 16px;
}

.mh-wsp.mh-wsp-float-bottom-left {
    position: fixed;
    z-index: 9999;
    bottom: 16px;
    left: 16px;
}

.mh-wsp .info {
    display: flex;
    flex-flow: column nowrap;
    color: #FFFFFF;
    text-decoration: none;
}

.mh-wsp .info .title {
    font-weight: bold;
    font-size: 16px;
}

.mh-wsp .info .phone {
    font-size: 14px;
}

.mh-wsp img {
    width: 32px;
    height: 32px;
}